<script>
    document.title = "Parse JSON";
</script>
<form novalidate name="jsonParseForm" ng-submit="parseJSON()">
    <div layout="column" layout-fill>
        <div flex-gt-sm="30">
            <div layout="row" layout-align="center center">
                <md-input-container flex-gt-sm="30" flex-lt-sm="80">
                    <label>Enter the JSON String</label>
                    <textarea ng-model="jsonData.jsonInput" rows="10" name="jsonInput" required md-select-on-focus md-no-autogrow="true"></textarea>
                </md-input-container>
            </div>
        </div>
        
        <div flex-gt-sm="15">
            <div layout="row" layout-align="center center">
                <md-switch ng-model="jsonData.parseType" aria-label="Switch 1">
                    Parse Specific Part of JSON
                </md-switch>
            </div>
        </div>

        <div flex-gt-sm="15">
            <div layout="row" layout-align="center center">
                <md-input-container flex-gt-sm="30" flex-sm="80" flex-xs="100" ng-show="jsonData.parseType">
                    <label>Enter the JSON Path</label>
                    <input ng-model="jsonData.jsonPath" type="text" name="jsonPath" ng-required="jsonData.parseType" autocomplete="off">
                </md-input-container>
            </div>
        </div>
        <div flex-gt-sm="10">
            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="!jsonParseForm.$valid">Parse</md-button>
            </div>
        </div>
    </div>
</form>